<script src="javascripts/demo.js"></script>
<div class="pageText">
  <p>
  Please read and provide the required information to complete your demo submission. Due to the large amount of demos we receive weekly, we will not be able to give feedback to everyone. Someone from our A&amp;R team will be in touch within 7-14 days, but ONLY if we feel that your demo is of interest to our label.
  </p>

  <h3>Before sending your demos, please read this first!</h3>
  <ul>
  <li>Get to know the sound of AcidWorx</li>
  <li><strong>Demos should include minimum 3 tracks</strong>,  we can’t offer a release with only one or two tracks, unless you have already arranged some remixes, if so, then please send them together with your originals</li>
  <li>Dropbox links are the best, WeTransfer is not good, it expires too soon, <strong>NO SOUNDCLOUD or other streaming links</strong> please, we prefer to download the files and go through them properly</li>
  <li>Make sure your demos are properly mixed-down or even mastered, we won’t consider anything that is still unfinished or work in progress</li>
  <li>No WAV files, all demos must be in <strong>320kbps</strong> MP3 format and the tracks must be full-length</li>
  <li>Each track has to be properly named, so we know who the demo is from ! example: DJ Tek – This Is Acid.mp3, NOT demo1.mp3</li>
  </ul>

</div>

<fieldset>
<legend>Details</legend>

<form method="post" action="/demo" novalidate="novalidate">
<br>
<div class="required">
  <input id="name" type="text" name="name" value="<%session.demo.name%>" required>
  <label for="name">Name</label>
</div>
<br>

<div class="required">
  <input id="artistName" type="text" name="artist_name" value="<%session.demo.artist_name%>" required>
  <label for="artistName" >Artist Name:</label>
</div>

<div>
<span id="countryLabel">Country</span>
<br>
<select name="country_id">
  <%FOREACH country IN countries%>
  <%country.country_code%>
    <option value="<%country.country_id%>" <%IF country.country_id == session.artist.country_id %>selected<%END%>><%country.country_name%></option>
  <%END%>
</select>
</div>
<br>

<div class="required">
  <input id="email" type="text" name="email" value="<%session.demo.email%>" required>
  <label for="email">Email:</label>
</div>
<br>
<div id="otherLabels">
  <span>Have you sent this demo to any other labels?</span>
  <br>
  <span>
    <input type="radio" name="sent_to_other" value="1" <%IF session.demo.sent_to_other == 1 %>checked<%END%>>
    <label for="Yes" class="fontColor">Yes</label>
    <br>
    <input type="radio" name="sent_to_other" value="0" <%IF session.demo.sent_to_other == 0 %>checked<%END%> required>
    <label for="No" class="fontColor">No</label>
    <br>
  </span>
</div>
<br>
<div>
  <input id="releasedOn" type="text" name="released_on" value="<%session.demo.released_on%>" required>
  <label for="releasedOn">What other labels have you released on?</label>
</div>
<br>

<div class="required">
  <input id="link" type="text" name="link" id="link" value="<%session.demo.link%>" required>
  <label for="link">Link to your demo</label>
</div>
<br>
<div>
  <textarea id="demoDesc" cols="20" rows="10" name="demo_desc" required><%session.demo.demo_desc%></textarea>
  <label for="demoDesc">Demo desription</label>
</div>
</br>
<button type="submit" value="Submit Demo">Submit Demo</button>
</form>
</fieldset>