
<br>
<div id="page">
  <div class="pageText  ">
  <fieldset>
  <legend>Artists</legend>
  	<p><a href="/manage_artists/display">Display Artists</a></p>

  	<p><a href="/manage_artists/add">Add Artist</a></p>

  	<p><a href="/manage_artists/edit">Edit Artist</a></p>

  	<p><a href="/manage_artists/remove">Remove Artist</a></p>
  </fieldset>
  	<br><br>
  	<fieldset>
  	<legend>Requests</legend>
    <p><a href="/manage_artists/new_requests">New Artists Requests</a></p>
    <p><a href="/manage_artists/demos">New demo Requests</a></p>
    </fieldset>
  </div>
</div>
