
<%IF demos %>
<form method="post" action="/manage_demos/new_demos">
  <div class="table width90Percent centerTable">
    <div class="row">
        <div class="tableHeader">Artist Name</div>
        <div class="tableHeader">Link</div>
        <div class="tableHeader">Approve</div>
      </div>
    <%FOR demo IN demos%>
      <div class="row">
        <div class="cell cellBorder"><%demo.artist_name%></div>
        <div class="cell cellBorder"><a href="<%demo.link%>">download</a></div>
        <div class="cell cellBorder">
        	<input type="radio" name="approve_<%demo.token%>" value="1">Yes
        	<input type="radio" name="approve_<%demo.token%>" value="0">No
        </div>
      </div>
    <%END%>
  </div>

  <br>
  <div class="width90Percent center">
    <button type="submit" value="update">Update</button>
  </div>
<%ELSE%>
  <div class="table width90Percent centerTable">
    <div class="row">
      <div class="tableHeader">No new demos</div>
    </div>
  </div>
<%END%>

<% #USE Dumper; Dumper.dump_html({ demos => demos }) %>
