<div id="page">
	<div id="pageHeader">
		<div class="table widthFull">
			<div class="row">
				<div class="cell width60px">
	      			<a href=<%back_url%>><image id="backImg" src="/images/backIcon.png"></a>
	    		</div>

	    		<div class="cell">
	  				<span>Display Artist</span>
	  			</div>

	  			<div class="cell width60px"></div>
	  	    </div>
	    </div>
	</div>

	<br>

	<fieldset>
	<div><b>Name:</b> <%session.artist.name%></div>
	<br>
	<div><b>Artist Name:</b> <%session.artist.artist_name%></div>
	<br>
	<div><b>Address:</b> 
	<br>
	<%session.artist.address_line1%>
	<br>
	<%session.artist.address_line2%>
	<br>
	<%session.artist.address_line3%>
	</div>
	<br>
	<div><b>Country:</b> <%session.artist.country_id%></div>
	<br>
	<div><b>Email:</b> <%session.artist.email%></div>
	<br>
	<div><b>Payment Email:</b> <%session.artist.payment_email%></div>
	<br>
	<div><b>Soundcloud page:</b> <%session.artist.soundcloud_url%></div>
	<br>
	<div><b>RA page:</b> <%session.artist.ra_url%></div>
	<br>
	<div><b>Beatport page:</b> <%session.artist.beatport_url%></div>
	<br>
	<div><b>Website:</b> <%session.artist.website%></div>
	<br>
	<div><b>Bio:</b><p><%session.artist.bio%></p></div>
	</fieldset>
</div>
<!--
<pre>
<%USE Dumper; Dumper.dump_html({ session => session }) %>
</pre>
-->