/* page structure */

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #444444;
	background-color: #FFFFFF;
}

#header {
	background-color: black;
	width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#pageHeader,
#subHeader {
	height: 40px;
	background-color: #d6d6d5;
	text-align: center;
}

#headerPad {
	width: 100%;
    height: 70px;
}

#footer {
	height: 10px;
	width: 100%;
}

/* header content */

#acidworxLogo {
	height: 50px;
}

#profileMenuIcon {
    border-radius: 100px;
    padding: 25px;
    background-image: url(../images/default_profile_icon.png);
    background-size: 100% 100%;
}

.profileMenuWidth, 
.sideMenuIconWidth {
	width: 50px;
	padding-right: 10px;
}

#sideMenuIcon {
    height: 56px;
    display: none;
}

/* sub header content */


.subHeaderText,
.pageHeaderText {
	font-size: 18px;
	font-weight: bold;
}

#backImg {
	height: 30px;
}


/* page formating */

fieldset {
	border: 1px solid #ccc;
	width: 70%;
  	margin: auto;
}

fieldset legend {
	color: #444444;
}

.cellValignCenter {
	vertical-align: middle;
}

.border {
	border: 1px solid black;
}

.noPadding {
	padding: 0;
}
.noMargin {
	margin: 0;
}

.borderRed input::placeholder {
  color: red;
}

input[type="text"] {
	width: 98%;
    height: 30px;
    border: 1px solid #C0C0C0;
    font-size: 16px;
    //padding-left: 10px;
    border-radius: 10px;
}

select {
	width: 98%;
    height: 34px;
    border: 1px solid #C0C0C0;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 10px;
}

input[type="password"] {
	width: 98%;
    height: 30px;
    border: 1px solid #C0C0C0;
    font-size: 16px;
    border-radius: 10px;
}

input[type="submit"],
button {
	width: 98%;
    height:34px;
    border: 1px solid #ccc!important;
    font-size: 24px;
    border-radius: 10px;
    background-color: #d6d6d5;
    color: #444444;
}

button:focus {
	outline-width: 0;
}

textarea {
	width: 99%;
	font-size: 16px;
	height: 100px;
}

#server-error {
	display: none;
}

.pageText {
	padding-left: 20px;
	padding-right: 20px;
}

.redText {
	color: red;
}

.widthFull {
	width: 100%;
}

.width50percent {
	width: 50%;
}

.heightFull {
	height: 100%;
}

.widthvw {
	width: 100vw;
}

.width60px {
	width: 60px;
}

.heightvw {
	height: 100vh;
}

.pad20px,
.pagePadding {
	padding-left: 20px;
	padding-right: 20px;
}

.padLeft10 {
	padding-left: 10px;
}

.padRight10 {
	padding-right: 10px;
}

.center,
.centerTable {
	text-align: center;
	margin: 0 auto;
}

.align-center {
    display: block;
    margin: 1.0em auto;
    text-align: center;
}

.textAlignRight {
	text-align: right;
}
.textAlignCenter {
	text-align: center;
}
.textAlignLeft {
	text-align: left;
}

.alignRight {
	float: right
}

.width90Percent {
	width: 90%;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

.tableHeader {
	display: table-cell;
	background-color: lightgray;
	font-weight: bold;
}

.tableBorder {
	border: 1px solid lightgray;
}

.cellBorder {
	border: 1px solid lightgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.borderBlack {
	border: 1px solid black;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* Floating labels for inputs */

form > div {
  position: relative;
}

form > div > label {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 8px;
  width: 100%;
  transition: 0.2s;
  color: #7d7d7d;
  font-size: 14px;
}

form > div > select,
form > div > input {
	height: 30px;
	width: 99%;
	color: #424f63;
	font-size: 14px;
}
form > div > select {
	width: 99%;
}
form > div > input {
	padding-left: 5px;
	margin-right: 20px;
}

form > div > textarea {
	height: 100px;
	width: 98%;
	border: 1px solid #ccc;
}

form > div > textarea:focus + label,
form > div > input:focus + label,
form > div > textarea:valid + label,
form > div > input:valid + label {
	bottom: 100%;
  	margin-top: -16px;
  	font-size: 14px;
  	left: 0px;
  	top: -5px;
  	color: #ccc;
}

form > div > textarea:focus,
form > div > input:focus,
form > div > textarea:valid,
form > div > input:valid {
	outline-width: 0;
}

#countryLabel {
	font-size: 14px;
	color: #ccc;
	top: -5px;
}
.fontColor {
	color: #424f63;;
}

#otherLabels {
	font-size: 14px;
	color: #ccc;
	top: -5px;
}


#passwordRest {
	display: none;
}



@media (max-width: 400px)  {

	fieldset {
		width: calc(100% - 40px);
		//padding: 1px;
		font-size: 16px;
	}

  	body {
		margin: 0;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;
	}
	button {
		width: 99%;
	    height:30px;
	    font-size: 18px;
	}
	.formItem {
		display: inline-block;
		width: 59%;
	    text-align: center;
	    height: 34px;
	}
	.formItemLabel {
		display: inline-block;
		width: 39%;
	    height:30px;
	}

	#acidworxLogo {
		height: 50px;
	}

}

}


